<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.crowdsense.mapper.TaskSubmitMapper">

    <resultMap id="BaseResultMap" type="com.fzu.crowdsense.model.entity.TaskSubmit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="taskId" jdbcType="BIGINT"/>
            <result property="submitterId" column="submitterId" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="numericalValue" column="numericalValue" jdbcType="FLOAT"/>
            <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
            <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
            <result property="filesPath" column="filesPath" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="checkTime" column="checkTime" jdbcType="TIMESTAMP"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="completeTime" column="completeTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="rootTaskId" column="rootTaskId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,taskId,submitterId,
        type,description,numericalValue,
        longitude,latitude,filesPath,
        status,checkTime,reason,
        completeTime,createTime,updateTime,
        rootTaskId
    </sql>
</mapper>
